.App {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #282c34;
  color: white;
  font-size: 2rem;
  padding: 1rem;
}

#myTodos {
  margin-top: 2rem;
}

#todos {
  margin-top: 2rem;
  list-style-type: none;
  padding: 0;
}

