form {
    display: flex;
    margin-bottom: 1rem;
  }
  
  input[type="text"] {
    flex-grow: 1;
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #282c34;
    color: white;
    cursor: pointer;
  }
  